* {
    box-sizing: border-box;
}

.experts-column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
  
.experts-row::after {
    content: "";
    clear: both;
    display: table;
}

.experts-heading {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.experts-image {
    width: 70%;
    height: 70%;
    border-radius: 10px;
    border:2px solid #fff;
    box-shadow: 0px -10px 30px #ccc;
    color:white;
    font-size:50px;
    border-top-left-radius:45px;
    border-top-right-radius:75px;
    border-bottom-left-radius:75px;
    border-bottom-right-radius:45px;
    margin-left: 50px;
}

.experts-text {
   font-style: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.experts-title {
    font-style: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    margin-left: 160px;
}

.experts-p {
    margin-left: 40px;
    text-align: left;
    font-style: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
