.header-h1 {
    margin-left: 580px;
    margin-top: -75px;
}

.header-image {
    width: 250px;
    margin-left: 310px;
}

ul.navigation {
    padding-left: 0px;
    background-color: #3D99CE;
    text-align: center;
}

ul.navigation > li {
    display: inline-block;
    padding: 15px 60px;
}

ul.navigation > li:hover {
    background-color: #2779BF;
}

ul.navigation > li > a {
    color: white;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
  